In [6]:
student_scores = {
    'Harry': 88,
    'Ron': 78,
    'Hermione': 95,
    'Draco': 75,
    'Neville': 60
}

student_grades = {}
for name, value in student_scores.items():
    student_grades[name]  = {
    "name":name,
    "grade":value
    }
    


print(student_grades)

{'Harry': {'name': 'Harry', 'grade': 88}, 'Ron': {'name': 'Ron', 'grade': 78}, 'Hermione': {'name': 'Hermione', 'grade': 95}, 'Draco': {'name': 'Draco', 'grade': 75}, 'Neville': {'name': 'Neville', 'grade': 60}}

In [10]:
#To find Leap year or not

def is_leap_year(year):
    
    if year % 4 ==0:
        return True
        
    else:
        return False
  
yearinput = int(input("Input the year?"))   
is_leap_year(yearinput)

Input th year? 2000

True

In [13]:
#Sales Calculator

laptop_sales = [20, 25, 30, 28, 32, 40, 35]
mobile_sales = [50, 55, 53, 60, 65, 70, 68]
tablet_sales = [10, 12, 15, 14, 13, 16, 18]

for num, sales in enumerate(laptop_sales, start = 1):
    print(f"Laptop Day{num} sales {sales} units")

for num, sales in enumerate(mobile_sales, start = 1):
    print(f"Mobile Day{num} sales {sales} units")

for num, sales in enumerate(tablet_sales, start = 1):
    print(f"Tablet Day{num} sales {sales} units")


Laptop_sales_Total = sum(laptop_sales)
mobile_sales_Total = sum(mobile_sales)
tablet_sales_Total = sum(tablet_sales)

Totalsales = Laptop_sales_Total + mobile_sales_Total + tablet_sales_Total


print(f"Total sales {Totalsales} units")

Laptop Day1 sales 20 units
Laptop Day2 sales 25 units
Laptop Day3 sales 30 units
Laptop Day4 sales 28 units
Laptop Day5 sales 32 units
Laptop Day6 sales 40 units
Laptop Day7 sales 35 units
Mobile Day1 sales 50 units
Mobile Day2 sales 55 units
Mobile Day3 sales 53 units
Mobile Day4 sales 60 units
Mobile Day5 sales 65 units
Mobile Day6 sales 70 units
Mobile Day7 sales 68 units
Tablet Day1 sales 10 units
Tablet Day2 sales 12 units
Tablet Day3 sales 15 units
Tablet Day4 sales 14 units
Tablet Day5 sales 13 units
Tablet Day6 sales 16 units
Tablet Day7 sales 18 units
Total sales 729 units